.bg-primary { background-color: $primary; }
.bg-secondary { background-color: $secondary; }
.bg-success { background-color: $success; }
.bg-danger { background-color: $danger; }
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }