// Branding

$primary: #01788e;
$secondary: #ed5d2a;
$success: #2ecc71;
$danger: #e74c3c;
$white: #fefefe;
$black: #222;

// Grid

$container-width: 1170px;

// Breakpoints

$breakpoint-sm: 240px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Fonts & Typogaraphy

$heading-font: 'Segoe UI', serif;
$body-font: 'Segoe UI', sans-serif;

// Spacing

$spacer-1: 1rem;
$spacer-2: 1.25rem;
$spacer-3: 1.5rem;
$spacer-4: 1.75rem;
$spacer-5: 2rem;