@charset "UTF-8";

@font-face {
    font-family: 'Hell';
    src: url('HelveticaNeue Light.eot');
    src: url('HelveticaNeue Light.woff2') format('woff2'), url('HelveticaNeue Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hell';
    src: url('HelveticaNeueLight.woff') format('woff'), url('HelveticaNeueLight.ttf') format('truetype'), url('HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: 400;
    font-style: normal;
}
/* 
@font-face {
    font-family: 'Hell';
    src: url('HelveticaNeue Medium.woff') format('woff'), url('HelveticaNeue Medium.ttf') format('truetype'), url('HelveticaNeueMedium.svg#HelveticaNeueLight') format('svg');
    font-weight: 500;
    font-style: normal;
} */

@font-face {
    font-family: 'Hell';
    src: url('Helvetica Neu Medium.eot');
    src: url('HelveticaNeue Medium.woff') format('woff'), url('HelveticaNeue Medium.ttf') format('truetype'), url('HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hell';
    src: url('HelveticaNeue Medium.woff') format('woff'), url('HelveticaNeue Medium.ttf') format('truetype'), url('HelveticaNeueMedium.svg#HelveticaNeueMedium') format('svg');
    font-weight: 700;
    font-style: normal;
}